.new-chat-title {
    margin-left: 10px;
    margin-bottom: 20px;
    h3 {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
}

.new-chat-search {
    margin-top: 50px;
    padding: 7px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    gap: 10px;
    height: 40px;
    padding: 7px 10px;
    position: relative;
    background-color: #3c4247;
    border-radius: 7px;
    border-bottom: 3px solid #058475;
    margin-bottom: 20px;
}