@import "../../Variables//Colors.scss";
.sidebar {
    background-color: $bgColor;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 360px;
    height: 100vh;
    flex: 40%;
    border-right-color: #2a2e32;
    .sidebar-header {
        .wattsap-logo {
            display: flex;
            gap: 10px;
            padding: 13px;
            .img-wattsap {
                .watt-img {
                    width: 23px;
                    height: 23px;
                }
            }
            h3 {
                color: white;
                font-size: 14px;
            }
        }
        .chats-header {
            display: flex;
            justify-content: space-between;
            .chats-title {
                padding: 10px;
                h1 {
                    color: white;
                    font-size: 22px;
                    font-weight: 600;
                    padding: 23px;
                }
            }
            .header-icons {
                margin-right: 10px;
                margin-top: 25px;
                gap: 13px;
                display: flex;
                .HiOutlinePencilAlt {
                    font-size: 22px;
                    margin-top: 4px;
                    .hioutlinepencil-stle {
                        color: white;
                    }
                }
            }
        }
    }
}

.options-btn {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-btn--pressed {
    border-radius: 50%;
    background: #d5d5d5;
}

.options-btn__options {
    z-index: 1000;
    position: absolute;
    margin-top: 10px;
    border-radius: 12px;
    width: 200px;
    padding: 10px 0;
    background-color: rgb(42, 47, 50);
    box-shadow: 0 2px 5px 0 #00000042, 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    transition: all 0.2s ease-in;
    opacity: 0;
    transform: scale(0);
}

.options-btn__options--right {
    right: unset;
    left: -210px;
}

.options-btn__options--active {
    opacity: 1;
    transform: scale(1);
}

.sidebar__action-icon {
    color: white;
}

.options-btn__option {
    padding: 15px 20px;
    color: rgba(241, 241, 242, 0.92);
    font-size: 0.9rem;
    cursor: pointer;
}

.options-btn__option:hover {
    background: #20272b;
}

.search-sidebar {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    gap: 10px;
    height: 40px;
    padding: 7px 10px;
    position: relative;
    background-color: #3c4247;
    border-radius: 7px;
    border-bottom: 3px solid #058475;
    margin-bottom: 20px;
    .search::placeholder {
        color: white;
    }
    .search:focus {
        .search-sidebar {
            border-bottom: 3px solid #058475;
        }
    }
    .VscSearch {
        color: white;
    }
    .search {
        outline: none;
        color: white;
        padding: 7px 10px;
        width: 200px;
        border-radius: 12px;
    }
}